<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Youtube Feed </title>
  <link rel="stylesheet" href="testtemp.css">
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js'></script>
  <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
  <script type='text/javascript' src = "feed2.js">
    
</script>
</head>
<body data-ng-app="videoApp">    
  <div class="container-fluid" data-ng-controller="VideoCtrl">
    <div id="container"> 
    <div id="header">Youtube Feed</div>
    </div>

    <br>
            <div id=”navigation”> 
                <ul id="menu"> 
                    <li data-ng-repeat="tagid in videoList">
                        <div class="checkboxFour">
                            <input type="checkbox" data-ng-click="setSelectedVideo()" > <a>{{tagid.tag}} </a>
                        </div >                      
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <hr/>
    <br>
    <br>
    <br>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style="width:10%">#</th>
                <th style="width:20%">Title</th>
                <th style="width:40%">Description</th>
                <th style="width:20%">Url</th>
                <th style="width:30%">Tag</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="video in filtered = (videos | videoFilter:selectedVideo)">
                <td>{{$index + 1}}</td>
                <td><em>{{video.title}}</em></td>
                <td>{{video.description}}</td>
                <td>{{video.url}}</td>
                <td>{{video.tagid.tag}}</td>

            </tr>
        </tbody>
    </table>
  
</div>
</body>
</html>