<!-- <link href="stylesheets/login.css" rel="stylesheet" type="text/css"> -->

<form id="login" method="POST" action="login">
		Type your name to log in! <br><br>
		<input id="username" type="text" name="name">

		<input id="submit_login" type="submit" value="Login">

	
</form>
